.letterjam-letter{
    display:inline-block;
    margin: 2px;
    border: 1px solid black;
    padding: 5px;
    border-radius:5px;
}

.letterjam-characterpanel{
    padding:5px;
    margin:2px;
    border: 1px solid grey;
    display:inline-block;
}

.letterjam-clueviewer{
}

.letterjam-letter{
    width:.75em;
    height:1.5em;
}


.letterjam-cluehelper-guess{
    width:2em;
}

.letterjam-letter-player-0{
    background-color:#BBCCEE;
    color:#222255;
}

.letterjam-letter-player-1{
    background-color:#CCEEFF;
    color:#225555;
}

.letterjam-letter-player-2{
    background-color:#CCDDAA;
    color:#225522;
}

.letterjam-letter-player-3{
    background-color:#EEEEBB;
    color:#666633;
}

.letterjam-letter-clickable{
    box-shadow:2px 2px;
    cursor: pointer;
}


.letterjam-letter-player-4{
    background-color:#FFCCCC;
    color:#663333;
}


.letterjam-letter-player-5{
    background-color:#DDDDDD;
    color:#555555;
}

.letterjam-cluearea>div{
    display:inline-block;
    vertical-align:top;
    margin:2px;
    border: 1px solid grey;
    padding:10px;
}

.letterjam-cluehelper-guessed-letter{
    color:darkgray;
}

.letterjam-cluehelper td{
    border:1px solid black;
    border-radius:4px;
    width:1em;
    height:1.5em;
    background-color:white;
}

.letterjam-cluehelper{
    display:inline-block;
    background-color:lightgrey;
    width:100%;
}
.letterjam-cluehelper-internal{
    margin:10px;
}

.letterjam-cluehelper-selector-internal{
}

.letterjam-clueviewer td{
    border:1px solid black;
    border-radius: 5px;
    width:1em;
    height:1.5em;
}

.letterjam-cluehelper-selector{
    display:inline-block;
    border:1px solid black;
}

.letterjam-cluehelper-selector-bar{
    display:flex;
    min-width:25em;
}

.letterjam-cluehelper-selector-tab{
    display:inline-block;
    flex-grow:1;
    max-width:5em;
    min-width:3em;
    width:20%;
    border-top-left-radius: 20px 20px;
    border-top-right-radius: 20px 20px;
    background-color:#EEEEEE;
}

.letterjam-cluehelper-selector-tab-selected{
    background-color:lightgrey;
}

.letterjam-card-row{
    border:1px solid black;
    display:table;
    align:center;
    margin-left:auto;
    margin-right:auto;
    border-spacing:5px;
}

.letterjam-card-row>div{
    display:table-cell;
    vertical-align:center;
    border: 1px solid black;
    margin:5px;
    border-radius:5px;
    padding:5px;
}


.letterjam-playersdisplay{
    margin-left:auto;
    margin-right:auto;
}

.letterjam-proposalbuilder{
    width:60%;
    margin-left:auto;
    margin-right:auto;
    border:1px solid black;
}

.letterjam-proposalbuilder .letterjam-proposalinfo{
    float:right;
    border-left:1px solid black;
    height:100%;
    padding:5px;
}

.letterjam-proposalbuilder-end{
    display:block;
    clear:both;
}

.letterjam p{
    margin-top:0px;
    margin-bottom:0px;
}

.letterjam-finalwordlist{
    border:1px solid black;
    padding:5px;
    margin:5px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.letterjam-finals-pool{
    border: 1px solid black;
    min-width:300px;
    min-height:70px;
    width:fit-content;
    padding:5px;
    margin-left:auto;
    margin-right:auto;
    
}

.letterjam-finals-word{
    border: 1px solid black;
    min-width:300px;
    min-height:70px;
    width:fit-content;
    padding:5px;
    margin-left:auto;
    margin-right:auto;
}